beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
comtypes==1.1.7
configparser==5.0.1
crayons==0.4.0
docopt==0.6.2
et-xmlfile==1.0.1
idna==2.10
jdcal==1.4.1
Js2Py==0.70
MouseInfo==0.1.3
numpy==1.19.4
openpyxl==3.0.5
packaging==20.7
pandas==1.1.5
Pillow==8.0.1
pipwin==0.5.0
PyAudio @ file:///C:/Users/ashishsh/pipwin/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.52
pygame==2.0.1
PyGetWindow==0.0.9
pyjsparser==2.7.1
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
pypiwin32==223
PyPrind==2.11.2
PyRect==0.1.4
PyScreeze==0.1.26
pySmartDL==1.3.4
python-dateutil==2.8.1
pyttsx3==2.90
PyTweening==1.0.3
pytz==2020.4
pywhatkit==3.7
pywin32==300
requests==2.25.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
tzlocal==2.1
urllib3==1.26.2
webdriver-manager==3.2.2
wikipedia==1.4.0
xlrd==1.2.0
